<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-categoria-heading" jhiTranslate="efielApp.categoria.home.createOrEditLabel">Create or edit a Categoria</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!categoria.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="categoria.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efielApp.categoria.descricao" for="field_descricao">Descricao</label>
                    <input type="text" class="form-control" name="descricao" id="field_descricao"
                        [(ngModel)]="categoria.descricao" minlength="10" maxlength="200"/>
                    <div [hidden]="!(editForm.controls.descricao?.dirty && editForm.controls.descricao?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.descricao?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 10 }">
                        This field is required to be at least 10 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.descricao?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efielApp.categoria.ativo" for="field_ativo">Ativo</label>
                    <input type="checkbox" class="form-control" name="ativo" id="field_ativo"
                        [(ngModel)]="categoria.ativo" />
                    <div [hidden]="!(editForm.controls.ativo?.dirty && editForm.controls.ativo?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.ativo?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="efielApp.categoria.empresas" for="field_empresas">Empresas</label>
                    <select class="form-control" id="field_empresas" multiple name="empresas" [(ngModel)]="categoria.empresas">
                        <option [ngValue]="getSelected(categoria.empresas, empresaOption)" *ngFor="let empresaOption of empresas; trackBy: trackEmpresaById">{{empresaOption.nome}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
