<div>
    <h2 id="page-heading">
        <span jhiTranslate="efielApp.categoria.home.title">Categorias</span>
        <button id="jh-create-entity" class="search_form_button btn btn-primary float-right jh-create-entity create-categoria" [routerLink]="['/categoria/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="efielApp.categoria.home.createLabel">
            Create new Categoria
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'efielApp.categoria.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="categorias">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="efielApp.categoria.descricao">Descricao</span></th>
            <th><span jhiTranslate="efielApp.categoria.ativo">Ativo</span></th>
            <th><span jhiTranslate="efielApp.categoria.empresas">Empresas</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let categoria of categorias ;trackBy: trackId">
                <td><a [routerLink]="['/categoria', categoria.id, 'view' ]">{{categoria.id}}</a></td>
                <td>{{categoria.descricao}}</td>
                <td>{{categoria.ativo}}</td>
                <td>
                    <span *ngFor="let empresas of categoria.empresas; let last = last">
                            <a class="form-control-static" [routerLink]="['../empresa', empresas?.id, 'view' ]">{{empresas.nome}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/categoria', categoria.id, 'view' ]"
                                class="search_form_button btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/categoria', categoria.id, 'edit']"
                                class="search_form_button btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'categoria', { outlets: { popup: categoria.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="search_form_button btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
