<div>
    <h2 id="page-heading">
        <span jhiTranslate="efielApp.cartaoFidelidade.home.title">Cartao Fidelidades</span>
        <button id="jh-create-entity" class="button btn btn-primary float-right jh-create-entity create-cartao-fidelidade" [routerLink]="['/cartao-fidelidade/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="efielApp.cartaoFidelidade.home.createLabel">
            Create new Cartao Fidelidade
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'efielApp.cartaoFidelidade.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cartaoFidelidades">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataCriacao"><span jhiTranslate="efielApp.cartaoFidelidade.dataCriacao">Data Criacao</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dataPremio"><span jhiTranslate="efielApp.cartaoFidelidade.dataPremio">Data Premio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="campanha.id"><span jhiTranslate="efielApp.cartaoFidelidade.campanha">Campanha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dono.id"><span jhiTranslate="efielApp.cartaoFidelidade.dono">Dono</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cartaoFidelidade of cartaoFidelidades ;trackBy: trackId">
                <td><a [routerLink]="['/cartao-fidelidade', cartaoFidelidade.id, 'view' ]">{{cartaoFidelidade.id}}</a></td>
                <td>{{cartaoFidelidade.dataCriacao | date:'mediumDate'}}</td>
                <td>{{cartaoFidelidade.dataPremio | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="cartaoFidelidade.campanha">
                        <a [routerLink]="['../campanha', cartaoFidelidade.campanha?.id, 'view' ]" >{{cartaoFidelidade.campanha?.id}}</a>
                    </div>
                </td>
                <td>
                    {{cartaoFidelidade.dono?.id}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/cartao-fidelidade', cartaoFidelidade.id, 'view' ]"
                                class="search_form_button btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cartao-fidelidade', cartaoFidelidade.id, 'edit']"
                                class="search_form_button btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'cartao-fidelidade', { outlets: { popup: cartaoFidelidade.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="search_form_button btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="cartaoFidelidades && cartaoFidelidades.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>

