<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-empresa-heading" jhiTranslate="efielApp.empresa.home.createOrEditLabel">Create or edit a Empresa</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!empresa.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="contact_input form-control" id="id" name="id"
                        [(ngModel)]="empresa.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efielApp.empresa.nome" for="field_nome">Nome</label>
                    <input type="text" class="contact_input form-control" name="nome" id="field_nome"
                        [(ngModel)]="empresa.nome" required minlength="10" maxlength="90"/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 10 }">
                        This field is required to be at least 10 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 90 }">
                        This field cannot be longer than 90 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efielApp.empresa.cnpj" for="field_cnpj">Cnpj</label>
                    <input type="text" class="contact_input form-control" name="cnpj" id="field_cnpj"
                        [(ngModel)]="empresa.cnpj" maxlength="14"/>
                    <div [hidden]="!(editForm.controls.cnpj?.dirty && editForm.controls.cnpj?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.cnpj?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 14 }">
                        This field cannot be longer than 14 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efielApp.empresa.endereco" for="field_endereco">Endereco</label>
                    <input type="text" class="contact_input form-control" name="endereco" id="field_endereco"
                        [(ngModel)]="empresa.endereco" required minlength="10" maxlength="200"/>
                    <div [hidden]="!(editForm.controls.endereco?.dirty && editForm.controls.endereco?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.endereco?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.endereco?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 10 }">
                        This field is required to be at least 10 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.endereco?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efielApp.empresa.fone" for="field_fone">Fone</label>
                    <input type="text" class="contact_input form-control" name="fone" id="field_fone"
                        [(ngModel)]="empresa.fone" maxlength="14"/>
                    <div [hidden]="!(editForm.controls.fone?.dirty && editForm.controls.fone?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.fone?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 14 }">
                        This field cannot be longer than 14 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efielApp.empresa.criador" for="field_criador">Criador</label>
                    <select class="form-control" id="field_criador" name="criador" [(ngModel)]="empresa.criador" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === empresa.criador?.id ? empresa.criador : userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="contact_button btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="contact_button btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
