<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="empresa">
            <h2><span jhiTranslate="efielApp.empresa.detail.title">Empresa</span> {{empresa.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="efielApp.empresa.nome">Nome</span></dt>
                <dd>
                    <span>{{empresa.nome}}</span>
                </dd>
                <dt><span jhiTranslate="efielApp.empresa.cnpj">Cnpj</span></dt>
                <dd>
                    <span>{{empresa.cnpj}}</span>
                </dd>
                <dt><span jhiTranslate="efielApp.empresa.endereco">Endereco</span></dt>
                <dd>
                    <span>{{empresa.endereco}}</span>
                </dd>
                <dt><span jhiTranslate="efielApp.empresa.fone">Fone</span></dt>
                <dd>
                    <span>{{empresa.fone}}</span>
                </dd>
                <dt><span jhiTranslate="efielApp.empresa.criador">Criador</span></dt>
                <dd>
                    {{empresa.criador?.id}}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="search_form_button btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/empresa', empresa.id, 'edit']"
                    class="search_form_button btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
