<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-campanha-heading" jhiTranslate="efielApp.campanha.home.createOrEditLabel">Create or edit a Campanha</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!campanha.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="campanha.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efielApp.campanha.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                        [(ngModel)]="campanha.nome" required minlength="10" maxlength="150"/>
                    <div [hidden]="!(editForm.controls.nome?.dirty && editForm.controls.nome?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 10 }">
                        This field is required to be at least 10 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.nome?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 150 }">
                        This field cannot be longer than 150 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efielApp.campanha.logo" for="field_logo">Logo</label>
                    <div>
                        <img [src]="'data:' + campanha.logoContentType + ';base64,' + campanha.logo" style="max-height: 100px;" *ngIf="campanha.logo" alt="campanha image"/>
                        <div *ngIf="campanha.logo" class="form-text text-danger clearfix">
                            <span class="pull-left">{{campanha.logoContentType}}, {{byteSize(campanha.logo)}}</span>
                            <button type="button" (click)="clearInputImage('logo', 'logoContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_logo" (change)="setFileData($event, campanha, 'logo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="logo" id="field_logo"
                        [(ngModel)]="campanha.logo" />
                    <input type="hidden" class="form-control" name="logoContentType" id="field_logoContentType"
                        [(ngModel)]="campanha.logoContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efielApp.campanha.premio" for="field_premio">Premio</label>
                    <input type="text" class="form-control" name="premio" id="field_premio"
                        [(ngModel)]="campanha.premio" required minlength="10" maxlength="300"/>
                    <div [hidden]="!(editForm.controls.premio?.dirty && editForm.controls.premio?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.premio?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.premio?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 10 }">
                        This field is required to be at least 10 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.premio?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 300 }">
                        This field cannot be longer than 300 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efielApp.campanha.regras" for="field_regras">Regras</label>
                    <input type="text" class="form-control" name="regras" id="field_regras"
                        [(ngModel)]="campanha.regras" required minlength="10" maxlength="300"/>
                    <div [hidden]="!(editForm.controls.regras?.dirty && editForm.controls.regras?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.regras?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.regras?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 10 }">
                        This field is required to be at least 10 characters.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.regras?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 300 }">
                        This field cannot be longer than 300 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efielApp.campanha.expira" for="field_expira">Expira</label>
                    <div class="input-group">
                        <input id="field_expira" type="text" class="form-control" name="expira" ngbDatepicker  #expiraDp="ngbDatepicker" [(ngModel)]="campanha.expira"
                        required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="expiraDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div [hidden]="!(editForm.controls.expira?.dirty && editForm.controls.expira?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.expira?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efielApp.campanha.numeroSelos" for="field_numeroSelos">Numero Selos</label>
                    <input type="number" class="form-control" name="numeroSelos" id="field_numeroSelos"
                        [(ngModel)]="campanha.numeroSelos" required max="0" jhiMax="0"/>
                    <div [hidden]="!(editForm.controls.numeroSelos?.dirty && editForm.controls.numeroSelos?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.numeroSelos?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.numeroSelos?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 0 }">
                            This field cannot be more than 0.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.numeroSelos?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="efielApp.campanha.empresa" for="field_empresa">Empresa</label>
                    <select class="form-control" id="field_empresa" name="empresa" [(ngModel)]="campanha.empresa"  required>
                        <option *ngIf="!editForm.value.empresa" [ngValue]="null" selected></option>
                        <option [ngValue]="empresaOption.id === campanha.empresa?.id ? campanha.empresa : empresaOption" *ngFor="let empresaOption of empresas; trackBy: trackEmpresaById">{{empresaOption.nome}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.empresa?.dirty && editForm.controls.empresa?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.empresa?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
