<div>
    <h2 id="page-heading">
        <span jhiTranslate="efielApp.campanha.home.title">Campanhas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-campanha" [routerLink]="['/campanha/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="efielApp.campanha.home.createLabel">
            Create new Campanha
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'efielApp.campanha.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="campanhas">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nome"><span jhiTranslate="efielApp.campanha.nome">Nome</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="logo"><span jhiTranslate="efielApp.campanha.logo">Logo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="premio"><span jhiTranslate="efielApp.campanha.premio">Premio</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="regras"><span jhiTranslate="efielApp.campanha.regras">Regras</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="expira"><span jhiTranslate="efielApp.campanha.expira">Expira</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="numeroSelos"><span jhiTranslate="efielApp.campanha.numeroSelos">Numero Selos</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="empresa.nome"><span jhiTranslate="efielApp.campanha.empresa">Empresa</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let campanha of campanhas ;trackBy: trackId">
                <td><a [routerLink]="['/campanha', campanha.id, 'view' ]">{{campanha.id}}</a></td>
                <td>{{campanha.nome}}</td>
                <td>
                    <a *ngIf="campanha.logo" (click)="openFile(campanha.logoContentType, campanha.logo)">
                        <img [src]="'data:' + campanha.logoContentType + ';base64,' + campanha.logo" style="max-height: 30px;" alt="campanha image"/>
                    </a>
                    <span *ngIf="campanha.logo">{{campanha.logoContentType}}, {{byteSize(campanha.logo)}}</span>
                </td>
                <td>{{campanha.premio}}</td>
                <td>{{campanha.regras}}</td>
                <td>{{campanha.expira | date:'mediumDate'}}</td>
                <td>{{campanha.numeroSelos}}</td>
                <td>
                    <div *ngIf="campanha.empresa">
                        <a [routerLink]="['../empresa', campanha.empresa?.id, 'view' ]" >{{campanha.empresa?.nome}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/campanha', campanha.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/campanha', campanha.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'campanha', { outlets: { popup: campanha.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="campanhas && campanhas.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
